@model FreteFree.Models.Motorista.Motorista


<div>
    <h4>Motorista</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaminhaoProprietario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaminhaoProprietario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoProprietario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnderecoProprietario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneProprietario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefoneProprietario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoCaminhao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoCaminhao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlacaCavalo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlacaCavalo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CidadeCavalo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CidadeCavalo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoCavalo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoCavalo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlacaCarreta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlacaCarreta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CidadeCarreta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CidadeCarreta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoCarreta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoCarreta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeMotorista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeMotorista)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoMotorista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnderecoMotorista)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneMovel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefoneMovel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneFixo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefoneFixo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CidadeMotorista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CidadeMotorista)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoMotorista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoMotorista)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPFMotorista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPFMotorista)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RGMotorista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RGMotorista)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CNPJ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastoMotorista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCadastoMotorista)
        </dd>
    </dl>
</div>
