@model FreteFree.Models.Motorista.OrdemCarregamento

<div>
    <h4>OrdemCarregamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empresa.CidadeEmpresa)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotoristaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotoristaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataOrdemCarregamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataOrdemCarregamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
    </dl>
</div>
