@model FreteFree.Models.Motorista.OrdemCarregamento

@{
    ViewData["Title"] = "Details";
}

<style>
    .container {
        position: center
    }
</style>



<h3>Apresentara todos os dados relacionados para a impressao da ordem de carregamento + o recibo em um pag A4 a ser modelada ainda</h3>
<div class="container">

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Empresa)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Empresa.CidadeEmpresa)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Motorista)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Motorista.CaminhaoProprietario)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Valor)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Valor)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Medida)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Medida)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DataOrdemCarregamento)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DataOrdemCarregamento)
            </dd>
        </dl>
    </div>
    <div class="col-md-12">

        <!-- Início Definições da tabela principal teste -->
        <!-- || -->
        <!-- \/ -->



        <div id="principal">

            <table border="1" cellspacing="0" style="width:17cm;	line-height: 9pt;">
                <tbody>
                    <tr>
                        <td style="border:solid windowtext .5pt; padding:5.65pt 5.65pt 5.65pt 5.65pt">

                            <!-- /\ -->
                            <!-- || -->
                            <!-- Fim Definições da tabela principal -->
                            <!-- Início Cabeçalho do Cartão -->

                            <table border="0" width="100%" style="line-height: 9pt;">
                                <tbody>
                                    <tr>
                                        <td valign="middle" align="left" width="60" height="60">
                                            <img width="60" height="60" src="images/brasao2.gif" alt="Brasão" border="0">
                                        </td>

                                        <td align="center">

                                            <p style="margin:0cm; margin-bottom:0pt;">&nbsp;</p>

                                            <font face="Arial" size="4">
                                                <b>
                                                    REPÚBLICA FEDERATIVA DO BRASIL
                                                </b>
                                            </font>

                                            <p style="margin:0cm; margin-bottom:0pt;">&nbsp;</p>
                                            <p style="margin:0cm; margin-bottom:0pt;">&nbsp;</p>
                                            <p style="margin:0cm; margin-bottom:0pt;">&nbsp;</p>

                                            <font face="Arial">
                                                <b>
                                                    CADASTRO NACIONAL DA PESSOA JURÍDICA
                                                </b>
                                            </font>

                                            <p style="margin:0cm; margin-bottom:0pt;">&nbsp;</p>

                                        </td>
                                        <td valign="middle" align="left" width="60" height="60"></td>
                                    </tr>
                                </tbody>
                            </table>

                            <!-- Fim Cabeçalho do Cartão -->
                            <!-- Início Linha NÚMERO DE INSCRIÇÃO -->

                            <p style="margin:0cm; margin-bottom:0pt;">&nbsp;</p>

                            <table border="0" width="100%" style="
		BORDER-COLLAPSE: collapse;
		">
                                <tbody>
                                    <tr>

                                        <td width="24%" valign="top" border="1" style="
		border-right: windowtext 0.5pt solid;
		border-top: windowtext 0.5pt solid;
		border-left: windowtext 0.5pt solid;
		border-bottom: windowtext 0.5pt solid;
		padding-left: 3.5pt;
		padding-bottom: 3.5pt;
		">

                                            <font face="Arial" style="font-size: 6pt">
                                                NÚMERO DE INSCRIÇÃO
                                            </font>

                                            <br>

                                            <font face="Arial" style="font-size: 8pt">
                                                <b>39.726.596/0001-47</b><br>
                                                <b>MATRIZ</b>
                                            </font>


                                            <br>

                                        </td>

                                        <td width="52%" valign="center" style="
		BORDER-RIGHT: windowtext 0.5pt solid;
		BORDER-TOP: windowtext 0.5pt solid;
		BORDER-LEFT: medium none;
		BORDER-BOTTOM: windowtext 0.5pt solid;
		PADDING-LEFT: 3.5pt;
		padding-bottom: 3.5pt;
		">

                                            <center>
                                                <font face="Arial" style="font-size: 10pt">
                                                    <b>
                                                        COMPROVANTE DE INSCRIÇÃO E DE SITUAÇÃO CADASTRAL
                                                    </b>
                                                </font>
                                            </center>

                                        </td>

                                        <td width="24%" valign="top" style="
		BORDER-RIGHT: windowtext 0.5pt solid;
		BORDER-TOP: windowtext 0.5pt solid;
		BORDER-LEFT: windowtext 0.5pt solid;
		BORDER-BOTTOM: windowtext 0.5pt solid;
		PADDING-LEFT: 3.5pt;
		padding-bottom: 3.5pt;
		">

                                            <font face="Arial" style="font-size: 6pt">
                                                DATA DE ABERTURA
                                            </font>

                                            <br>

                                            <font face="Arial" style="font-size: 8pt">
                                                <b>10/11/2020</b>
                                            </font>

                                            <br>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>


                            <!-- Fim Linha NÚMERO DE INSCRIÇÃO -->
                            <!-- Início Linha NOME EMPRESARIAL -->

                            <p style="margin:0cm; margin-bottom:0pt;">&nbsp;</p>

                            <table border="0" width="100%" style="
		BORDER-COLLAPSE: collapse;
		">


                                <tbody>
                                    <tr>


                                        <td width="100%" valign="top" style="
		BORDER-RIGHT: windowtext 0.5pt solid;
		BORDER-TOP: windowtext 0.5pt solid;
		BORDER-LEFT: windowtext 0.5pt solid;
		BORDER-BOTTOM: windowtext 0.5pt solid;
		PADDING-LEFT: 3.5pt;
		padding-bottom: 3.5pt;
		">

                                            <font face="Arial" style="font-size: 6pt">
                                                NOME EMPRESARIAL
                                            </font>

                                            <br>

                                            <font face="Arial" style="font-size: 8pt">
                                                <b>ALEX SANDRO AGOSTINETTO MARAFON 03332457179                                                                                                           </b>
                                            </font>

                                            <br>

                                        </td>

                                    </tr>

                                </tbody>
                            </table>

                            <!-- Fim Linha NOME EMPRESARIAL -->
                            <!-- Início Linha ESTABELECIMENTO -->


                            <p style="margin:0cm; margin-bottom:0pt;">&nbsp;</p>

                            <table border="0" width="100%" style="
		BORDER-COLLAPSE: collapse;
		">

                                <tbody>
                                    <tr>

                                        <td width="88%" valign="top" style="
		BORDER-RIGHT: windowtext 0.5pt solid;
		BORDER-TOP: windowtext 0.5pt solid;
		BORDER-LEFT: windowtext 0.5pt solid;
		BORDER-BOTTOM: windowtext 0.5pt solid;
		PADDING-LEFT: 3.5pt;
		padding-bottom: 3.5pt;
		">
                                            <font face="Arial" style="font-size: 6pt">
                                                TÍTULO DO ESTABELECIMENTO (NOME DE FANTASIA)
                                            </font>

                                            <br>

                                            <font face="Arial" style="font-size: 8pt">
                                                <b>	********</b>
                                            </font>

                                            <br>
                                        </td>


                                        <td width="2%" border="0" style="BORDER-RIGHT: windowtext 0.5pt solid;"> </td>

                                        <!-- Início Coluna PORTE DA EMPRESA -->

                                        <td width="10%" valign="top" style="
		BORDER-RIGHT: windowtext 0.5pt solid;
		BORDER-TOP: windowtext 0.5pt solid;
		BORDER-LEFT: windowtext 0.5pt solid;
		BORDER-BOTTOM: windowtext 0.5pt solid;
		PADDING-LEFT: 3.5pt;
		padding-bottom: 3.5pt;
		">

                                            <font face="Arial" style="font-size: 6pt">
                                                PORTE
                                            </font>

                                            <br>

                                            <font face="Arial" style="font-size: 8pt">
                                                <b>ME</b>
                                            </font>

                                            <br>
                                        </td>
                                        <!-- Fim Coluna PORTE DA EMPRESA -->


                                    </tr>

                                </tbody>
                            </table>


                            <!-- Fim Linha ESTABELECIMENTO -->
                            <!-- Início Linha ATIVIDADE ECONOMICA -->


                            <p style="margin:0cm; margin-bottom:0pt;">&nbsp;</p>

                            <table border="0" width="100%" style="
		BORDER-COLLAPSE: collapse;
		">

                                <tbody>
                                    <tr>

                                        <td width="100%" valign="top" style="
		BORDER-RIGHT: windowtext 0.5pt solid;
		BORDER-TOP: windowtext 0.5pt solid;
		BORDER-LEFT: windowtext 0.5pt solid;
		BORDER-BOTTOM: windowtext 0.5pt solid;
		PADDING-LEFT: 3.5pt;
		padding-bottom: 3.5pt;
		">

                                            <font face="Arial" style="font-size: 6pt">
                                                CÓDIGO E DESCRIÇÃO DA ATIVIDADE ECONÔMICA PRINCIPAL
                                            </font>

                                            <br>

                                            <font face="Arial" style="font-size: 8pt">
                                                <b>	61.90-6-99 - Outras atividades de telecomunicações não especificadas anteriormente</b>
                                            </font>

                                            <br>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>



                            <!-- Fim Linha ATIVIDADE ECONOMICA -->
                            <!-- Início Linha ATIVIDADE ECONOMICA SECUNDARIA-->



                            <p style="margin:0cm; margin-bottom:0pt;">&nbsp;</p>

                            <table border="0" width="100%" style="
		BORDER-COLLAPSE: collapse;
		">

                                <tbody>
                                    <tr>

                                        <td width="100%" valign="top" style="
		BORDER-RIGHT: windowtext 0.5pt solid;
		BORDER-TOP: windowtext 0.5pt solid;
		BORDER-LEFT: windowtext 0.5pt solid;
		BORDER-BOTTOM: windowtext 0.5pt solid;
		PADDING-LEFT: 3.5pt;
		padding-bottom: 3.5pt;
		">

                                            <font face="Arial" style="font-size: 6pt">
                                                CÓDIGO E DESCRIÇÃO DAS ATIVIDADES ECONÔMICAS SECUNDÁRIAS
                                            </font>
                                            <br>


                                            <font face="Arial" style="font-size: 8pt">
                                                <b>	47.42-3-00 - Comércio varejista de material elétrico</b>
                                            </font>
                                            <br>

                                            <font face="Arial" style="font-size: 8pt">
                                                <b>	47.52-1-00 - Comércio varejista especializado de equipamentos de telefonia e comunicação</b>
                                            </font>
                                            <br>

                                            <font face="Arial" style="font-size: 8pt">
                                                <b>	95.11-8-00 - Reparação e manutenção de computadores e de equipamentos periféricos</b>
                                            </font>
                                            <br>

                                            <font face="Arial" style="font-size: 8pt">
                                                <b>	43.21-5-00 - Instalação e manutenção elétrica</b>
                                            </font>
                                            <br>

                                            <font face="Arial" style="font-size: 8pt">
                                                <b>	85.99-6-03 - Treinamento em informática</b>
                                            </font>
                                            <br>

                                            <font face="Arial" style="font-size: 8pt">
                                                <b>	47.44-0-99 - Comércio varejista de materiais de construção em geral</b>
                                            </font>
                                            <br>


                                        </td>

                                    </tr>

                                </tbody>
                            </table>

                            <!-- Fim Linha ATIVIDADE ECONOMICA SECUNDARIA --><!-- Início Linha NATUREZA JURÍDICA -->


                            <p style="margin:0cm; margin-bottom:0pt;">&nbsp;</p>

                            <table border="0" width="100%" style="
		BORDER-COLLAPSE: collapse;
		">

                                <tbody>
                                    <tr>

                                        <td width="100%" valign="top" style="
		BORDER-RIGHT: windowtext 0.5pt solid;
		BORDER-TOP: windowtext 0.5pt solid;
		BORDER-LEFT: windowtext 0.5pt solid;
		BORDER-BOTTOM: windowtext 0.5pt solid;
		PADDING-LEFT: 3.5pt;
		padding-bottom: 3.5pt;
		">

                                            <font face="Arial" style="font-size: 6pt">
                                                CÓDIGO E DESCRIÇÃO DA NATUREZA JURÍDICA
                                            </font>

                                            <br>

                                            <font face="Arial" style="font-size: 8pt">
                                                <b>213-5 - Empresário (Individual)                                               </b>
                                            </font>

                                            <br>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>


                            <!-- Fim Linha NATUREZA JURÍDICA -->
                            <!-- Início Linha LOGRADOURO -->


                            <p style="margin:0cm; margin-bottom:0pt;">&nbsp;</p>

                            <table border="0" width="100%" style="
		BORDER-COLLAPSE: collapse;
		">

                                <tbody>
                                    <tr>

                                        <td width="50%" valign="top" style="
		BORDER-RIGHT: windowtext 0.5pt solid;
		BORDER-TOP: windowtext 0.5pt solid;
		BORDER-LEFT: windowtext 0.5pt solid;
		BORDER-BOTTOM: windowtext 0.5pt solid;
		PADDING-LEFT: 3.5pt;
		padding-bottom: 3.5pt;
		">

                                            <font face="Arial" style="font-size: 6pt">
                                                LOGRADOURO
                                            </font>

                                            <br>

                                            <font face="Arial" style="font-size: 8pt">
                                                <b>	AV DAS SIBIPIRUNAS                                                              </b>
                                            </font>

                                            <br>
                                        </td>

                                        <td width="2%" border="0" style="BORDER-RIGHT: windowtext 0.5pt solid;"> </td>

                                        <td width="10%" valign="top" style="
		BORDER-RIGHT: windowtext 0.5pt solid;
		BORDER-TOP: windowtext 0.5pt solid;
		BORDER-LEFT: medium none;
		BORDER-BOTTOM: windowtext 0.5pt solid;
		PADDING-LEFT: 3.5pt;
		padding-bottom: 3.5pt;
		">

                                            <font face="Arial" style="font-size: 6pt">
                                                NÚMERO
                                            </font>

                                            <br>

                                            <font face="Arial" style="font-size: 8pt">
                                                <b>22    </b>
                                            </font>

                                            <br>
                                        </td>

                                        <td width="2%" border="0" style="BORDER-RIGHT: windowtext 0.5pt solid;"> </td>

                                        <td width="36%" valign="top" style="
		BORDER-RIGHT: windowtext 0.5pt solid;
		BORDER-TOP: windowtext 0.5pt solid;
		BORDER-LEFT: medium none;
		BORDER-BOTTOM: windowtext 0.5pt solid;
		PADDING-LEFT: 3.5pt;
		padding-bottom: 3.5pt;
		">
                                            <font face="Arial" style="font-size: 6pt">
                                                COMPLEMENTO
                                            </font>

                                            <br>

                                            <font face="Arial" style="font-size: 8pt">
                                                <b>SALA 01                                                                                                                                                     	</b>
                                            </font>

                                            <br>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>


                            <!-- Fim Linha LOGRADOURO -->
                            <!-- Início Linha CEP -->


                            <p style="margin:0cm; margin-bottom:0pt;">&nbsp;</p>

                            <table border="0" width="100%" style="
		BORDER-COLLAPSE: collapse;
		">

                                <tbody>
                                    <tr>

                                        <td width="18%" valign="top" style="
		BORDER-RIGHT: windowtext 0.5pt solid;
		BORDER-TOP: windowtext 0.5pt solid;
		BORDER-LEFT: windowtext 0.5pt solid;
		BORDER-BOTTOM: windowtext 0.5pt solid;
		PADDING-LEFT: 3.5pt;
		padding-bottom: 3.5pt;
		">
                                            <font face="Arial" style="font-size: 6pt">
                                                CEP
                                            </font>

                                            <br>

                                            <font face="Arial" style="font-size: 8pt">
                                                <b>	78.557-733	</b>
                                            </font>

                                            <br>
                                        </td>

                                        <td width="2%" border="0" style="BORDER-RIGHT: windowtext 0.5pt solid;"> </td>

                                        <td width="30%" valign="top" style="
		BORDER-RIGHT: windowtext 0.5pt solid;
		BORDER-TOP: windowtext 0.5pt solid;
		BORDER-LEFT: medium none;
		BORDER-BOTTOM: windowtext 0.5pt solid;
		PADDING-LEFT: 3.5pt;
		padding-bottom: 3.5pt;
		">
                                            <font face="Arial" style="font-size: 6pt">
                                                BAIRRO/DISTRITO
                                            </font>

                                            <br>

                                            <font face="Arial" style="font-size: 8pt">
                                                <b>JARDIM JACARANDAS                                 </b>
                                            </font>

                                            <br>
                                        </td>

                                        <td width="2%" border="0" style="BORDER-RIGHT: windowtext 0.5pt solid;"> </td>

                                        <td width="38%" valign="top" style="
		BORDER-RIGHT: windowtext 0.5pt solid;
		BORDER-TOP: windowtext 0.5pt solid;
		BORDER-LEFT: medium none;
		BORDER-BOTTOM: windowtext 0.5pt solid;
		PADDING-LEFT: 3.5pt;
		padding-bottom: 3.5pt;
		">
                                            <font face="Arial" style="font-size: 6pt">
                                                MUNICÍPIO
                                            </font>

                                            <br>

                                            <font face="Arial" style="font-size: 8pt">
                                                <b>SINOP                                             </b>
                                            </font>

                                            <br>
                                        </td>

                                        <td width="2%" border="0" style="BORDER-RIGHT: windowtext 0.5pt solid;"> </td>

                                        <td width="10%" valign="top" style="
		BORDER-RIGHT: windowtext 0.5pt solid;
		BORDER-TOP: windowtext 0.5pt solid;
		BORDER-LEFT: medium none;
		BORDER-BOTTOM: windowtext 0.5pt solid;
		PADDING-LEFT: 3.5pt;
		padding-bottom: 3.5pt;
		">
                                            <font face="Arial" style="font-size: 6pt">
                                                UF
                                            </font>

                                            <br>

                                            <font face="Arial" style="font-size: 8pt">
                                                <b>MT</b>
                                            </font>

                                            <br>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>


                            <!-- Fim Linha CEP -->
                            <!-- Início de Linha de Contato -->
                            <p style="margin:0cm; margin-bottom:0pt;">&nbsp;</p>

                            <table border="0" width="100%" style="
		BORDER-COLLAPSE: collapse;
		">

                                <tbody>
                                    <tr>

                                        <td width="50%" valign="top" style="
		BORDER-RIGHT: windowtext 0.5pt solid;
		BORDER-TOP: windowtext 0.5pt solid;
		BORDER-LEFT: windowtext 0.5pt solid;
		BORDER-BOTTOM: windowtext 0.5pt solid;
		PADDING-LEFT: 3.5pt;
		padding-bottom: 3.5pt;
		">
                                            <font face="Arial" style="font-size: 6pt">
                                                ENDEREÇO ELETRÔNICO
                                            </font>

                                            <br>

                                            <font face="Arial" style="font-size: 8pt">
                                                <b>	ALEX.MARAFONN@GMAIL.COM                                                                                            </b>
                                            </font>

                                            <br>
                                        </td>

                                        <td width="2%" border="0" style="BORDER-RIGHT: windowtext 0.5pt solid;"> </td>

                                        <td width="48%" valign="top" style="
		BORDER-RIGHT: windowtext 0.5pt solid;
		BORDER-TOP: windowtext 0.5pt solid;
		BORDER-LEFT: medium none;
		BORDER-BOTTOM: windowtext 0.5pt solid;
		PADDING-LEFT: 3.5pt;
		padding-bottom: 3.5pt;
		">
                                            <font face="Arial" style="font-size: 6pt">
                                                TELEFONE
                                            </font>

                                            <br>

                                            <font face="Arial" style="font-size: 8pt">
                                                <b>(66) 9964-7827</b>
                                            </font>

                                            <br>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                            <!-- Fim de Linha de Contato -->
                            <!-- Início de Linha de Ente Federativo -->

                            <p style="margin:0cm; margin-bottom:0pt;">&nbsp;</p>

                            <table border="0" width="100%" style="BORDER-COLLAPSE: collapse;">

                                <tbody>
                                    <tr>

                                        <td width="100%" valign="top" style="
		BORDER-RIGHT: windowtext 0.5pt solid;
		BORDER-TOP: windowtext 0.5pt solid;
		BORDER-LEFT: windowtext 0.5pt solid;
		BORDER-BOTTOM: windowtext 0.5pt solid;
		PADDING-LEFT: 3.5pt;
		padding-bottom: 3.5pt;
		">

                                            <font face="Arial" style="font-size: 6pt">
                                                ENTE FEDERATIVO RESPONSÁVEL (EFR)
                                            </font>

                                            <br>

                                            <font face="Arial" style="font-size: 8pt">
                                                <b>
                                                    *****
                                                </b>
                                            </font>

                                            <br>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>

                            <!-- Fim de Linha de Ente Federativo -->
                            <!-- Início Linha SITUAÇÃO CADASTRAL -->

                            <p style="margin:0cm; margin-bottom:0pt;">&nbsp;</p>

                            <table border="0" width="100%" style="
		BORDER-COLLAPSE: collapse;
		">

                                <tbody>
                                    <tr>

                                        <td width="64%" valign="top" style="
		BORDER-RIGHT: windowtext 0.5pt solid;
		BORDER-TOP: windowtext 0.5pt solid;
		BORDER-LEFT: windowtext 0.5pt solid;
		BORDER-BOTTOM: windowtext 0.5pt solid;
		PADDING-LEFT: 3.5pt;
		padding-bottom: 3.5pt;
		">

                                            <font face="Arial" style="font-size: 6pt">
                                                SITUAÇÃO CADASTRAL
                                            </font>

                                            <br>

                                            <font face="Arial" style="font-size: 8pt">
                                                <b>	ATIVA	</b>
                                            </font>

                                            <br>
                                        </td>


                                        <td width="2%" border="0" style="BORDER-RIGHT: windowtext 0.5pt solid;"> </td>

                                        <td width="24%" valign="top" style="
		BORDER-RIGHT: windowtext 0.5pt solid;
		BORDER-TOP: windowtext 0.5pt solid;
		BORDER-LEFT: medium none;
		BORDER-BOTTOM: windowtext 0.5pt solid;
		PADDING-LEFT: 3.5pt;
		padding-bottom: 3.5pt;
		">
                                            <font face="Arial" style="font-size: 6pt">
                                                DATA DA SITUAÇÃO CADASTRAL
                                            </font>

                                            <br>

                                            <font face="Arial" style="font-size: 8pt">
                                                <b>10/11/2020</b>
                                            </font>

                                            <br>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>


                            <!-- Fim Linha SITUACAO CADASTRAL -->
                            <!-- Início Linha MOTIVO DE SITUAÇÃO CADASTRAL -->

                            <p style="margin:0cm; margin-bottom:0pt;">&nbsp;</p>

                            <table border="0" width="100%" style="
		BORDER-COLLAPSE: collapse;
		">

                                <tbody>
                                    <tr>
                                        <td width="31%" valign="top" style="
		BORDER-RIGHT: windowtext 0.5pt solid;
		BORDER-TOP: windowtext 0.5pt solid;
		BORDER-LEFT: windowtext 0.5pt solid;
		BORDER-BOTTOM: windowtext 0.5pt solid;
		PADDING-LEFT: 3.5pt;
		padding-bottom: 3.5pt;
		">

                                            <font face="Arial" style="font-size: 6pt">
                                                MOTIVO DE SITUAÇÃO CADASTRAL
                                            </font>

                                            <br>

                                            <font face="Arial" style="font-size: 8pt">
                                                <b>	                                                                          	</b>
                                            </font>

                                            <br>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                            <!-- Fim Linha MOTIVO DE SITUAÇÃO CADASTRAL -->
                            <!-- Início Linha SITUAÇÃO ESPECIAL -->

                            <p style="margin:0cm; margin-bottom:0pt;">&nbsp;</p>

                            <table border="0" width="100%" style="
		BORDER-COLLAPSE: collapse;
		">

                                <tbody>
                                    <tr>

                                        <td width="64%" valign="top" style="
		BORDER-RIGHT: windowtext 0.5pt solid;
		BORDER-TOP: windowtext 0.5pt solid;
		BORDER-LEFT: windowtext 0.5pt solid;
		BORDER-BOTTOM: windowtext 0.5pt solid;
		PADDING-LEFT: 3.5pt;
		padding-bottom: 3.5pt;
		">

                                            <font face="Arial" style="font-size: 6pt">
                                                SITUAÇÃO ESPECIAL
                                            </font>

                                            <br>

                                            <font face="Arial" style="font-size: 8pt">
                                                <b>	********	</b>
                                            </font>

                                            <br>
                                        </td>

                                        <td width="2%" border="0" style="BORDER-RIGHT: windowtext 0.5pt solid;"> </td>

                                        <td width="24%" valign="top" style="
		BORDER-RIGHT: windowtext 0.5pt solid;
		BORDER-TOP: windowtext 0.5pt solid;
		BORDER-LEFT: medium none;
		BORDER-BOTTOM: windowtext 0.5pt solid;
		PADDING-LEFT: 3.5pt;
		padding-bottom: 3.5pt;
		">
                                            <font face="Arial" style="font-size: 6pt">
                                                DATA DA SITUAÇÃO ESPECIAL
                                            </font>

                                            <br>

                                            <font face="Arial" style="font-size: 8pt">
                                                <b>	********	</b>
                                            </font>

                                            <br>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>


                            <!-- Fim Linha SITUACAO ESPECIAL-->
                            <!--
                              </td>
                              </tr>
                              </table>
                            -->
                            <!-- Fim da tabela principal -->
                            <!-- || -->
                            <!-- \/ -->

                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- /\ -->
            <!-- || -->

            <br>

            <p>
                <font face="Arial" size="2">
                    Aprovado pela Instrução Normativa RFB nº 1.863, de 27 de dezembro de 2018.
                </font>
            </p>

            <table border="0" cellspacing="0" style="width:17cm;	line-height: 6pt;">
                <tbody>
                    <tr>
                        <td align="left">
                            <p><font face="Arial" size="2">Emitido no dia <b>20/12/2020</b> às <b> 01:24:40 </b> (data e hora de Brasília). </font></p>
                        </td>

                        <td align="right">
                            <p><font face="Arial" size="2">Página: <b>1/1</b></font></p>
                        </td>
                    </tr>
                </tbody>
            </table>




        </div> <!-- principal -->
    </div>










    <div>
        <a asp-action="Edit" asp-route-id="@Model.OrdemCarregamentoId">Editar</a> |

        <a asp-action="Index">Voltar</a>

        <input type="button" onclick="Save()" value="Recibo" />
        <input type="button" onclick="printPage()" value="Print" />

    </div>
</div>